.calc{
    width:360px;
}

.inp2{
    height: 40px;
    text-align: right;
}

.inp1{
    height: 80px;
    text-align: right;
    font-size:xx-large ;
}

.divBtn div{
    display: flex;
}

button{
    height: 90px;
    width: 90px;
    font-size: large;
}

.inpBox{
    display: flex;
    flex-direction: column;
}